body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background: #f5f5dc;
}


.wrapper {
  max-width: 90%;
  margin: 50px auto;
}

.guess{
  size: 24px;

}
.dropzone{

  max-width: 60%;
  margin: 25px auto;
  align-self: center;
  border : "1px solid black";

}
.box{
  max-width: 80%;
  max-height: 80%;
  margin: 25px auto;
}

.bottomBox{
  max-width: 40%;
  max-height: 40%;
  margin: 25px auto;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
